.left_right{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .td_right{
    width: 80%;
  }
  .right_div{
    background-color: rgb(172, 186, 201);
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
  }
  .right_div table td{
    border: 1px solid rgb(160, 159, 159);
  }
  .right_div tr{
    background-color: aliceblue;
    height: 50px;
  }
  
  .right_div td{
    border-color: rgb(170, 167, 167);
  }

  .right_div th{
    text-align: center;
    border: 1px solid rgb(160, 159, 159);
    width: 14.5%;
    background-color: rgb(141, 139, 255);
    color: rgb(209, 3, 3);
  }
  
  .right_div table tr.single{
    background-color: rgb(255, 255, 255);
  }
  
  .right_div table tr.double{
    background-color: rgb(211, 211, 211);
  }
  