{% extends 'base.html' %}
{% load static %}

{% block meta_css %}
    <link rel="stylesheet" href="{% static 'css/reltmdtshow.css' %}">
{% endblock %}

{% block content %}
    <table class="left_right">
        <tr style="text-align:center">
            <td></td>

            <td class="td_right">
                <table style="width:100%; height:100%">
                    <tr style="width: 100%">
                        <td style="margin-top: 0px">
                            <div class="right_div">
                                <table style="border:1px">
                                    <tr>
                                        <th>物流码</th>
                                        <th>产品名</th>
                                        <th>生产企业</th>
                                        <th>防伪溯源信息</th>
                                        <th>查询时间</th>
                                        <th>查询地点</th>
                                        <th>详情</th>
                                        <th style="border:0px"></th>
                                    </tr>

                                    {% for da in data %}
                                        <tr class="single">
                                            <td>{{ da.logistics }}</td>
                                            <td>{{ da.r_product }}</td>
                                            <td>{{ da.r_product.company }}</td>
                                            <td>{{ da.information }}</td>
                                            <td>{{ da.query_time }}</td>
                                            <td>{{ da.query_site }}</td>
                                            <td><a href="{% url 'anti_fake:look' da.logistics %}">查看</a></td>
                                            <td style="border:0px"></td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
{% endblock %}



